extends ./layout/layout.pug

block content
  include ./layout/header.pug
  .cye-container
    .layui-container.category-container 
      p.category-total 共计 19 个分类
      ul
        li
          a(href="")
            p.name javascript
            p.description 这是javascript描述sadasdasdadasdasdasda 
            p.posts
              i.iconfont.icon-wenzhang
              span 102

  include ./layout/friendshipLinks.pug

block script
  script(src="/main/category.js")