
extends ./layout/layout.pug

block content
  include ./layout/header.pug
  .cye-container
      .layui-container.login-container
        .cye-login-pannel
            .layui-tab.layui-tab-brief
                ul.layui-tab-title
                    li
                      a(href="/login") 登入
                    li.layui-this 注册
                .layui-tab-content
                  form#regist-form.layui-form.layui-form-pane
                    .layui-form-item
                      label.layui-form-label 用户名
                      .layui-input-inline
                        input.layui-input(type="text", name="username", placeholder="字母开头，字母数字下划线", required)
                    .layui-form-item
                      label.layui-form-label 密码
                      .layui-input-inline
                        input.layui-input(type="password", name="loginPassword", placeholder="允许字母数字特殊字符", required)
                    .layui-form-item
                      label.layui-form-label 重复密码
                      .layui-input-inline
                        input.layui-input(type="password", name="loginRePassword", placeholder="请输入重复密码", required)
                    .layui-form-item
                      label.layui-form-label 昵称
                      .layui-input-inline
                        input.layui-input(type="text", name="nickname", placeholder="请输入昵称", required)
                    .layui-form-item
                      label.layui-form-label 邮箱
                      .layui-input-inline
                        input.layui-input(type="email", name="email", placeholder="请输入邮箱", required)
                      .layui-form-mid.layui-word-aux 用来找回密码
                    .layui-form-item
                      button.layui-btn.layui-btn-normal(lay-submit) 立即注册
                    .layui-form-item.cye-from-item
                      span 或直接使用社交账号快捷注册
                      a(href="")
                        i.iconfont.icon-QQ
                      a(href="")
                        i.iconfont.icon-weixin1
                    
block script
  script(src="/static/main/regist.js")