.userSelectNone {
  -moz-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
* {
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html,
body {
  background-color: #ffffff;
}
html {
  height: 100%;
}
body {
  position: relative;
  min-height: 100%;
}
.cye-container {
  padding-bottom: 60px;
  padding-top: 60px;
}
.cye-container .err-container {
  padding: 20px;
}
.cye-container .err-container .err-message {
  margin-top: 70px;
  text-align: center;
}
.cye-container .err-container .err-message h1 {
  font-size: 50px;
  font-weight: 700;
  color: #333;
}
.cye-container .err-container .err-img {
  margin-top: 50px;
  text-align: center;
}
.cye-container .err-container .err-img img {
  width: 130px;
  height: 130px;
}
.friendship-links {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  line-height: 1.5em;
  border-top: 1px solid #dddddd;
  text-align: center;
  font-size: 13px;
  color: #777;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.friendship-links a {
  color: #0593d3;
}
.friendship-links a:hover {
  text-decoration: underline;
  color: #0371a1;
}
.friendship-links .solid {
  margin: 0 5px;
}
.friendship-links .solid:last-child {
  display: none;
}
.layui-global-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0 2px 2px #777;
  box-shadow: 0 2px 2px #777;
}
.layui-global-header .layui-global-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px;
}
.layui-global-header .layui-global-container .layui-global-logo {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  overflow: hidden;
  min-width: 45px;
  max-width: 300px;
  padding: 0 20px;
  text-align: center;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.layui-global-header .layui-global-container .layui-global-logo a {
  display: block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  color: #ffffff;
}
.layui-global-header .layui-global-container .layui-global-logo a span,
.layui-global-header .layui-global-container .layui-global-logo a i {
  font-size: 24px;
}
.layui-global-header .layui-global-container .layui-global-logo:hover {
  background-color: #0482ba;
  border-right: 1px solid #0371a1;
  border-left: 1px solid #0371a1;
}
.layui-global-header .layui-global-container .layui-nav-btn {
  min-width: 45px;
  height: 100%;
  background-color: transparent;
  border: none;
  color: #fff;
  outline: none;
  text-align: center;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.layui-global-header .layui-global-container .layui-nav-btn i {
  margin-top: 7px;
  font-size: 24px;
}
.layui-global-header .layui-global-container .layui-nav-btn.act {
  background-color: #0482ba;
  border-left: 1px solid #0371a1;
  border-right: 1px solid #0371a1;
}
.layui-global-header .layui-global-container .layui-global-login {
  position: absolute;
  top: 0;
  right: 15px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.layui-global-header .layui-global-container .layui-global-login a {
  color: rgba(255, 255, 255, 0.7);
}
.layui-global-header .layui-global-container .layui-global-login a i {
  margin-right: 5px;
}
.layui-global-header .layui-global-container .layui-global-login a img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.layui-global-header .layui-global-container .layui-global-login a span.username {
  margin-right: 5px;
}
.layui-global-header .layui-global-container .layui-global-login a:hover {
  color: #ffffff;
}
.layui-global-header .layui-global-container .layui-global-login .user-nav {
  display: none;
  position: absolute;
  top: 70px;
  right: 10px;
  padding: 0 10px;
  background-color: #fff;
  border: 1px solid #d2d2d2;
}
.layui-global-header .layui-global-container .layui-global-login .user-nav li {
  border-bottom: 1px solid #d2d2d2;
}
.layui-global-header .layui-global-container .layui-global-login .user-nav li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 40px;
  color: #333;
}
.layui-global-header .layui-global-container .layui-global-login .user-nav li a span {
  white-space: nowrap;
}
.layui-global-header .layui-global-container .layui-global-login .user-nav li a i {
  font-size: 20px;
}
.layui-global-header .layui-global-container .layui-global-login .user-nav li:last-child {
  border-bottom: none;
}
@media screen and (max-width: 750px) {
  .layui-global-header .layui-global-container {
    padding: 0;
  }
  .layui-global-header .layui-global-container .layui-global-logo {
    padding: 0;
  }
  .layui-global-header .layui-global-container .layui-global-nav {
    position: absolute;
    top: 65px;
    left: 10px;
    display: none;
    border: 1px solid #0371a1;
  }
}
.index-container {
  max-width: 1700px;
  width: 100%;
  padding: 20px 35px;
  padding-right: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}
.index-container .index-section {
  width: 100%;
  margin-bottom: 25px;
}
.index-container .index-section h2 {
  margin-bottom: 10px;
  color: #444;
  font-size: 18px;
}
.index-container .index-recommend .swiper-container {
  margin-right: 25px;
  max-width: 640px;
  height: 395px;
}
.index-container .index-recommend .swiper-container .swiper-item-container {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.index-container .index-recommend .swiper-container .swiper-item-container .swiper-item-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.index-container .index-recommend .swiper-container .swiper-item-container .swiper-item-bg img {
  display: block;
  width: 100%;
  height: 100%;
}
.index-container .index-recommend .swiper-container .swiper-item-container .swiper-item-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.index-container .index-recommend .swiper-container .swiper-item-container .swiper-item-content h3 {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 700;
}
.index-container .index-recommend .swiper-container .swiper-item-container .swiper-item-content p {
  font-size: 13px;
}
.index-container .index-wrapper {
  margin-right: 275px;
  padding-right: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.index-container .index-side {
  float: right;
  width: 275px;
  padding-right: 35px;
  -webkit-box-sizing: border-box;
  padding-left: 10px;
  border-left: 1px solid #dddddd;
  box-sizing: border-box;
}
.index-container .index-message li {
  margin-bottom: 10px;
}
.index-container .index-message li a {
  line-height: 1.5em;
  color: #0593d3;
  font-size: 13px;
}
.index-container .index-message li a:hover {
  color: #0371a1;
}
.index-container .index-tags .tags-container a.tag {
  display: inline-block;
  padding: 0 10px;
  margin-bottom: 5px;
  margin-left: 5px;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  color: #fff;
  background-color: #0593d3;
  transition: transform .5s;
}
.index-container .index-tags .tags-container a.tag:hover {
  transform: scale(1.5);
}
.index-container .index-follow .follow-container {
  overflow: hidden;
}
.index-container .index-follow .follow-container a {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.index-container .index-follow .follow-container a img {
  display: block;
  width: 100%;
  height: 100%;
}
.index-container .index-new .article-list .article-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}
.index-container .index-new .article-list .article-item .article-img {
  flex-shrink: 0;
  width: 160px;
  height: 90px;
  margin-right: 15px;
}
.index-container .index-new .article-list .article-item .article-img img {
  display: block;
  width: 100%;
  height: 100%;
}
.index-container .index-new .article-list .article-item .article-content .article-title {
  margin-bottom: 10px;
}
.index-container .index-new .article-list .article-item .article-content .article-title a {
  font-size: 16px;
  color: #0593d3;
}
.index-container .index-new .article-list .article-item .article-content .article-title a:hover {
  color: #0477ab;
  text-decoration: underline;
}
.index-container .index-new .article-list .article-item .article-content .article-profile {
  color: #666;
  font-size: 12px;
}
@media screen and (max-width: 750px) {
  .index-container {
    padding: 20px 20px;
  }
  .index-container .index-wrapper {
    margin-right: 0;
    padding-right: 0;
  }
  .index-container .index-side {
    display: none;
    float: none;
  }
  .index-container .index-recommend .swiper-container {
    margin-right: 0;
  }
  .qa-btn {
    width: 100%;
  }
}
.login-container {
  margin-top: 15px;
}
.login-container .cye-login-pannel {
  overflow: hidden;
  padding: 0 15px;
  border: 1px solid #d2d2d2;
  border-radius: 3px;
  background-color: #f2f2f2;
}
.login-container .cye-login-pannel .layui-form-pane {
  margin-top: 10px;
}
.login-container .cye-login-pannel .layui-form-pane .forget {
  margin-left: 20px;
}
.login-container .cye-login-pannel .layui-form-pane .cye-from-item {
  display: flex;
  margin-top: 20px;
  align-items: center;
}
.login-container .cye-login-pannel .layui-form-pane .cye-from-item span {
  margin-right: 10px;
}
.login-container .cye-login-pannel .layui-form-pane .cye-from-item a {
  margin-right: 10px;
}
.login-container .cye-login-pannel .layui-form-pane .cye-from-item a .iconfont {
  font-size: 30px;
}
.login-container .cye-login-pannel .layui-form-pane .cye-from-item a .icon-QQ {
  color: #30A5DD;
}
.login-container .cye-login-pannel .layui-form-pane .cye-from-item a .icon-weixin1 {
  color: #09BA07;
}
.login-container .cye-login-pannel .layui-tab-brief > .layui-tab-title .layui-this {
  color: #48b1ff;
}
.login-container .cye-login-pannel .layui-tab-brief > .layui-tab-more li.layui-this:after,
.login-container .cye-login-pannel .layui-tab-brief > .layui-tab-title .layui-this:after {
  border-color: #48b1ff;
}
@media screen and (max-width: 750px) {
  .login-container {
    margin-top: 0;
    padding: 0;
  }
}
@media screen and (max-width: 750px) {
  .site-tree-mobile {
    display: block !important;
    position: fixed;
    z-index: 10000;
    bottom: 15px;
    left: 15px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    transition: all .5s;
  }
  .site-tree-mobile i {
    font-size: 20px;
  }
  .site-tree {
    position: fixed;
    top: 0;
    left: -260px;
    bottom: 0;
    overflow: auto;
    width: 220px;
    padding: 20px 0;
    background-color: #fff;
    z-index: 10000;
    transition: left .3s;
    box-shadow: 3px 1px 15px #000;
  }
  .site-mobile .site-tree-mobile {
    display: none !important;
  }
  .site-mobile .site-tree {
    left: 0;
  }
  .site-mobile .site-mobile-shade {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999;
  }
}
.animated {
  animation-duration: 0.6s;
  animation-fill-mode: both;
}
.animated.infinite {
  animation-iteration-count: infinite;
}
.animated.duration-15 {
  animation-duration: 15s;
}
.animated.duration-2 {
  animation-duration: 2s;
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -10%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.fadeInDown {
  animation-name: fadeInDown;
}
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
.zoomIn {
  animation-name: zoomIn;
}
@keyframes zoom {
  from {
    transform: scale3d(1, 1, 1);
  }
  100% {
    transform: scale3d(1.3, 1.3, 1.3);
  }
}
.zoom {
  animation-name: zoom;
}
@keyframes slideInDown {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
.slideInDown {
  animation-name: slideInDown;
}
.user-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}
@media screen and (max-width: 750px) {
  .user-container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 15px;
  }
}
.user-container .user-sider {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 260px;
  background-color: #f4f9ff;
}
@media screen and (max-width: 750px) {
  .user-container .user-sider {
    width: 100%;
    margin-bottom: 15px;
  }
}
.user-container .user-sider .handle {
  text-align: center;
  padding-bottom: 20px;
}
.user-container .user-sider .user-avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 20px;
}
.user-container .user-sider .user-avatar .user-avatar-img {
  position: relative;
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #fff;
}
.user-container .user-sider .user-avatar .user-avatar-img .user-avatar-cover {
  position: absolute;
  top: 150px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 10px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 12px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: top .5s;
  transition: top .5s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media screen and (max-width: 750px) {
  .user-container .user-sider .user-avatar .user-avatar-img .user-avatar-cover {
    top: 100px;
  }
}
.user-container .user-sider .user-avatar .user-avatar-img .user-avatar-cover i {
  font-size: 14px;
}
.user-container .user-sider .user-avatar .user-avatar-img img {
  height: 100%;
  width: 100%;
}
.user-container .user-sider .user-avatar .user-avatar-img:hover .user-avatar-cover {
  top: 100px;
}
.user-container .user-sider .user-avatar .user-name {
  line-height: 1.5em;
  text-align: center;
  font-size: 18px;
  color: #333;
  font-weight: 500;
}
.user-container .user-sider .user-avatar .user-name .login_account {
  font-size: 16px;
  font-weight: 400;
}
.user-container .user-content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-left: 20px;
}
@media screen and (max-width: 750px) {
  .user-container .user-content {
    margin-left: 0;
  }
}
.user-container .user-content .pannel {
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  margin-bottom: 15px;
}
.user-container .user-content .pannel .pannel-title {
  border-bottom: 1px solid #e6e6e6;
  background-color: #f2f2f2;
}
.user-container .user-content .pannel .pannel-title h3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 2em;
  color: #999;
  padding: 0 15px;
}
.user-container .user-content .pannel .pannel-content {
  position: relative;
  padding: 20px;
}
.user-container .user-content .pannel .pannel-content .user-information .item {
  margin-bottom: 10px;
  font-size: 14px;
}
.user-container .user-content .pannel .pannel-content .user-information .item .item-title {
  color: #666;
}
.user-container .user-content .pannel .pannel-content .user-information-edit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 15px;
  right: 20px;
  color: #666;
  font-size: 12px;
  cursor: pointer;
  vertical-align: middle;
}
.user-container .user-content .pannel .pannel-content .user-information-edit i {
  font-size: 16px;
}
.user-container .user-content .pannel .pannel-content .qa-list li {
  margin-bottom: 15px;
}
.user-container .user-content .pannel .pannel-content .qa-list li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #0593d3;
}
.user-container .user-content .pannel .pannel-content .qa-list li a i {
  margin-right: 10px;
}
.user-container .user-content .pannel .pannel-content .qa-list li a:hover {
  color: #0371a1;
}
.user-container #changepass-form {
  display: none;
  padding: 20px;
  padding-bottom: 0;
}
.user-container #changepass-form p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 10px;
  color: #333;
  font-size: 13px;
}
.user-container #changepass-form p span {
  width: 80px;
  margin-right: 10px;
  line-height: 2em;
  text-align: right;
}
.category-container {
  margin-top: 30px;
  background-color: #F1F5F8;
}
@media screen and (max-width: 750px) {
  .category-container {
    margin-top: 0;
    padding: 0;
  }
}
.category-container .category-total {
  text-align: center;
  font-size: 18px;
  padding: 40px 0 10px;
  color: #333;
}
.category-container ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px;
  padding-bottom: 15px;
}
@media screen and (max-width: 750px) {
  .category-container ul {
    padding: 15px;
  }
}
.category-container ul li {
  width: 260px;
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: #fff;
  transition: all .3s;
}
@media screen and (max-width: 750px) {
  .category-container ul li {
    width: 100%;
  }
}
.category-container ul li a {
  display: block;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
}
.category-container ul li a p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 1.5em;
  transition: all .3s;
}
.category-container ul li a .name {
  color: #333;
  font-size: 16px;
}
.category-container ul li a .description {
  color: #909090;
  font-size: 12px;
}
.category-container ul li a .posts {
  text-align: right;
  font-size: 11px;
  color: #D8D8D8;
}
.category-container ul li a .posts i {
  font-size: 11px;
  margin-right: 5px;
}
.category-container ul li:hover {
  box-shadow: #d6e0e8 0px 6px 16px 0px;
}
.category-container ul li:hover a .name {
  color: #0593d3;
}
.category-container ul li:hover a .description {
  color: #686868;
}
.article-container {
  margin-top: 30px;
  width: 620px;
}
.article-container .post-title {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.article-container .post-title h1,
.article-container .post-title span {
  margin-left: 5px;
  font-size: 24px;
  font-weight: 700;
  color: #333;
}
.article-container .post-banner {
  width: 540px;
}
.article-container .post-banner img {
  display: block;
  width: 100%;
}
.article-container .post-info {
  padding: 10px 0;
  line-height: 1.8em;
}
.article-container .post-info span {
  margin-left: 10px;
  font-size: 12px;
}
.article-container .post-info a {
  color: #0593d3;
}
.article-container .post-info a:hover {
  color: #0371a1;
}
.article-container .post-solid {
  border-bottom: 1px solid #c9c9c9;
}
.article-container .post-content {
  margin: 20px 0;
}
.article-container .post-content pre {
  margin: 20px;
  border-radius: 4px;
}
.article-container .post-content pre code {
  border-radius: 4px;
  padding: 15px;
  font-size: 13px;
  font-family: Menlo,Monaco,Consolas,Courier New,monospace;
}
.article-container .post-content p {
  font-size: 14px;
}
.article-container .post-tags {
  margin-bottom: 10px;
}
.article-container .post-tags a.tag {
  display: inline-block;
  padding: 0 10px;
  margin-bottom: 5px;
  margin-left: 5px;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  color: #fff;
  background-color: #0593d3;
  transition: transform .5s;
}
.article-container .post-tags a.tag:hover {
  transform: scale(1.5);
}
.article-container .post-reply,
.article-container .post-comments {
  margin-bottom: 10px;
}
.article-container .post-item-title {
  font-size: 16px;
  color: #333;
}
.article-container .post-comments-form {
  margin-top: 15px;
}
.article-container .post-comments-form .comment-submit {
  text-align: right;
}
@media screen and (max-width: 750px) {
  .article-container {
    width: 100%;
  }
  .article-container .post-banner {
    width: 100%;
  }
  .article-container .post-solid {
    width: 100%;
  }
}
