.layui-global-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0 2px 2px #777;
  box-shadow: 0 2px 2px #777;
}
.layui-global-header .layui-global-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px;
}
.layui-global-header .layui-global-container .layui-global-logo {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  overflow: hidden;
  min-width: 45px;
  max-width: 300px;
  padding: 0 20px;
  text-align: center;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.layui-global-header .layui-global-container .layui-global-logo a {
  display: block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  color: #ffffff;
}
.layui-global-header .layui-global-container .layui-global-logo a span,
.layui-global-header .layui-global-container .layui-global-logo a i {
  font-size: 24px;
}
.layui-global-header .layui-global-container .layui-global-logo:hover {
  background-color: #0482ba;
  border-right: 1px solid #0371a1;
  border-left: 1px solid #0371a1;
}
.layui-global-header .layui-global-container .layui-nav-btn {
  min-width: 45px;
  height: 100%;
  background-color: transparent;
  border: none;
  color: #fff;
  outline: none;
  text-align: center;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.layui-global-header .layui-global-container .layui-nav-btn i {
  margin-top: 7px;
  font-size: 24px;
}
.layui-global-header .layui-global-container .layui-nav-btn.act {
  background-color: #0482ba;
  border-left: 1px solid #0371a1;
  border-right: 1px solid #0371a1;
}
.layui-global-header .layui-global-container .layui-global-login {
  position: absolute;
  top: 0;
  right: 15px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.layui-global-header .layui-global-container .layui-global-login a {
  color: rgba(255, 255, 255, 0.7);
}
.layui-global-header .layui-global-container .layui-global-login a i {
  margin-right: 5px;
}
.layui-global-header .layui-global-container .layui-global-login a img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.layui-global-header .layui-global-container .layui-global-login a span.username {
  margin-right: 5px;
}
.layui-global-header .layui-global-container .layui-global-login a:hover {
  color: #ffffff;
}
.layui-global-header .layui-global-container .layui-global-login .user-nav {
  display: none;
  position: absolute;
  top: 70px;
  right: 10px;
  padding: 0 10px;
  background-color: #fff;
  border: 1px solid #d2d2d2;
}
.layui-global-header .layui-global-container .layui-global-login .user-nav li {
  border-bottom: 1px solid #d2d2d2;
}
.layui-global-header .layui-global-container .layui-global-login .user-nav li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 40px;
  color: #333;
}
.layui-global-header .layui-global-container .layui-global-login .user-nav li a span {
  white-space: nowrap;
}
.layui-global-header .layui-global-container .layui-global-login .user-nav li a i {
  font-size: 20px;
}
.layui-global-header .layui-global-container .layui-global-login .user-nav li:last-child {
  border-bottom: none;
}
@media screen and (max-width: 750px) {
  .layui-global-header .layui-global-container {
    padding: 0;
  }
  .layui-global-header .layui-global-container .layui-global-logo {
    padding: 0;
  }
  .layui-global-header .layui-global-container .layui-global-nav {
    position: absolute;
    top: 65px;
    left: 10px;
    display: none;
    border: 1px solid #0371a1;
  }
}
